@use '../sass/colors' as color;

@mixin burgerBtn {
	position: absolute;
	left: 0;
	height: 3px;
	content: '';
	background-color: #caedff;
	transition: width .3s;
}

@mixin heroImages($Img) {
	background-image: color.$light-pink-gradient, url($Img);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

@mixin contact {
	margin-bottom: 2em;
	padding: 0.6em 1.2em;
	border: none;
	background: none;
	border-bottom: 2px solid color.$pastels-yellow;
	border-radius: 8px;
	font-size: 2rem;
}